body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
  margin: auto;
  width: 900px;
}

section {
  margin-bottom: 40px;
}
.team-wrapper {
  display: flex;
  justify-content: space-around;
}
.team-header {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}
.team-intro {
  padding: 20px;
  border-radius: 5px;
}
.team-member {
  border: 1px dashed #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  width: 30%;
  position: relative;
}
.fa {
  font-size: 20px !important;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: white;
  background-color: #333;
  padding: 10px;
}
.avatar {
  vertical-align: middle;
  width: 100%;
  height: 200px;
  border-radius: 50%;
  margin: auto;
}

.avatar img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: block;
  margin: 20px auto;
}
.team-member h3,
.team-member p {
  text-align: center;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}
footer p {
  font-size: 16px;
  margin: 10px 0;
}
